/* ELEMENTS */

html, body {
    height: 100%; 
    margin: 0; 
    background-color: #212529;
}

h1 {
    color: white;
    margin-bottom: 20px;
}

th {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #343a40; 
}

/* CLASSES */

.dashboardButton {
    box-shadow: 0px 4px 12px #00000030, 0px 12px 12px #00000015;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
    border: none;
    background-color: #212529;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.dashboardButton:hover {
    font-weight: bold;
}

.dashboardButton:active {
    background-color: #212529;
}

.table-container {
    max-height: 500px;
    overflow-y: auto;
    width: 100%;
}

.table {
    box-shadow: 0px 4px 12px #00000030, 0px 12px 12px #00000015;
}

.table th, td {
    text-align: center;
}

.button-container {
    display: flex; 
    gap: 10px; 
    justify-content: flex-start;
}

.btn {
    box-shadow: 0px 4px 12px #00000030, 0px 12px 12px #00000015;
}


/* IDS */

#MainFrame {
    width: 1250px;
    height: 100%;
    background-color: rgb(48, 52, 58);
    padding: 20px;
    display: flex; 
    flex-direction: column; 
    box-shadow: 0px 4px 12px #00000030, 0px 12px 12px #00000015;
}

#MainRow {
    display: flex; 
    flex: 1; 
}

#DashboardCol {
    overflow-y: auto;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    height: 100%; 
    align-items: flex-start !important;
    justify-content: flex-start !important; 
    padding-top: 20px;
}

#usernameHeader {
    text-align: left;
}

#usernameColumn {
    text-align: left;
}

#addBTN {
    margin-top: 20px; 
}