<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChordCloud Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body class="bg-dark text-white">
    <div class="container py-4">
        <div class="row" id="MainRow">
            <!-- Sidebar / Dashboard Column -->
            <div class="col-3 bg-dark p-4 rounded shadow">
                <div class="text-center mb-4">
                    <h1 class="text-light">ChordCloud</h1>
                </div>
                <div class="list-group">
                    <form action="/artists" method="GET">
                        <button type="submit" class="list-group-item list-group-item-action bg-dark text-light border-0">Artists</button>
                    </form>
                    <form action="/albums" method="GET">
                        <button type="submit" class="list-group-item list-group-item-action bg-dark text-light border-0">Albums</button>
                    </form>
                    <form action="/tracks" method="GET">
                        <button type="submit" class="list-group-item list-group-item-action bg-dark text-light border-0">Tracks</button>
                    </form>
                    <form action="/follows" method="GET">
                        <button type="submit" class="list-group-item list-group-item-action bg-dark text-light border-0">Follows</button>
                    </form>
                    <form action="/likes" method="GET">
                        <button type="submit" class="list-group-item list-group-item-action bg-dark text-light border-0">Likes</button>
                    </form>
                    <form action="/streams" method="GET">
                        <button type="submit" class="list-group-item list-group-item-action bg-dark text-light border-0">Streams</button>
                    </form>
                    <form action="/reports" method="GET">
                        <button type="submit" class="list-group-item list-group-item-action bg-dark text-light border-0">Reports</button>
                    </form>    
                </div>
            </div>

            <!-- Main Content Column -->
            <div class="col-9">
                <div class="container">
                    <!-- Artist Table -->
                    <div class="table-container my-4">
                        <table class="table table-dark table-striped mx-auto" style="width: 90%;">
                            <thead>
                                <tr>
                                    <th style="width: 10%;">Following Artist ID</th>
                                    <th style="width: 10%;">Followed Artist ID</th>
                                    <th style="width: 70%;">Followed At</th>
                                    <th style="width: 10%;">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% follows.forEach(follow => { %>
                                    <tr>
                                        <td><%= follow.following_artist_id %></td>
                                        <td><%= follow.followed_artist_id %></td>
                                        <td><%= follow.followed_at %></td>
                                        <td>
                                            <div class="d-flex justify-content-around">
                                                <!-- Delete Button (White) -->
                                                <form action="/follows/unfollow/<%= follow.id %>" method="POST">
                                                    <button type="submit" class="btn btn-light btn-sm text-dark">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16">
                                                            <path d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z" />
                                                        </svg>
                                                    </button>
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>

                    <!-- Artist Button (Green) -->
                    <div class="d-flex justify-content-center my-4">
                        <form action="/follows/follow" method="GET">
                            <button type="submit" class="btn btn-success">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16">
                                    <path d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z" />
                                </svg> Follow Artist
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>